html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: roboto, sans-serif;
}
 /* Section Hero */
.hero {
    background-color: #1F2937;
}

.container {
    width: 60%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.navbar-list ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.header-website {
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;

}
.website-information {
    width: 450px;
}

.website-information h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-button {
    background-color: #3882F6;
    color: white;
    padding: 20px 60px;
    border-radius: 5%;
}

img {
    width: 600px;
    height: 300px;
}

/* Section HERO end */

.information h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.box img {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    border: 3px solid darkcyan;
}

.information-boxes {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.box {
    width: 150px;
}

.box p {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 150px;
}

.quote-section {
    background-color: #E5E7EB;
}
.big-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin-bottom: 0;
}

.quote {
    max-width: 40%;
    margin: auto;
    padding: 80px 0
}

.quote-autor {
    text-align: end;
    font-weight: 700;
}

/* Quote end */

.action {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
    padding: 20px 200px;
}

.action button {
    border: 2px solid white;
}

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 30px;
}

footer p {
    margin: 0;
    color: #E5E7EB;
}